<web-app>
    <servlet>
        <servlet-name>entry-point</servlet-name>
        <servlet-class>org.cj.alec.maintainableCode2.EntryPointServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>entry-point</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>